<launch>
  <include file="$(find skidbot_description)/launch/upload_model.launch" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=True" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find skidbot_description)/rviz/robot_1.rviz" />

</launch>
