<!-- https://answers.ros.org/question/221093/basic-diff_drive-question/ -->
<!-- https://github.com/ros-controls/ros_controllers/tree/kinetic-devel/diff_drive_controller/test -->

<launch>

	<!-- Robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find skidbot_description)/urdf/skidbot.xacro'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


    <node name="skidbot_base_node"
          pkg="skidbot_base"
          type="skidbot_base_node"/>

    <!-- Load controller config -->
		<rosparam command="load" file="$(find skidbot_control)/config/control.yaml" />
		<node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
					args="skidbot_joint_publisher skidbot_velocity_controller" />
    <!-- <rosparam command="load"
              file="$(find my_robot_control)/config/my_robot_common.yaml"/> -->

    <!-- <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner"
          output="screen"
          args="mobile_base_controller"/> -->

          <node name="rviz" pkg="rviz" type="rviz" />

          <node pkg="tf2_ros" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map base_link" />

</launch>
